<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "189550"
        versionCode="10" 
        version   = "1.0.0">

    <name>OncoGuía</name>

    <description>
        OncoGuía ofrece información sobre el cáncer, su prevención y diagnóstico precoz, los estudios clínicos complementarios y los tratamientos para cada tipo de tumor, destacando los avances científicos y tecnológicos en el campo de la oncología, así como apoyo psicológico para afrontar esta enfermedad.
    </description>

    <author href="http://www.fundaciongrupoimo.com/" email="info@fundaciongrupoimo.com">
        Fundación Grupo IMO 
    </author>
    
    <!-- Splash Screen -->
    <preference name="orientation" value="default" />
    <preference name="fullscreen" value="true" />

    <!-- Splash Screen -->
    <gap:splash src="splash/ios/Default-Landscape.png" width="1024" height="768" />
    <gap:splash src="splash/ios/Default-Portrait.png" width="768" height="1024" />

</widget>